.section_frm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.div_title {
  display: flex;
  font-size: 1rem;
  font-style: italic;
  justify-content: center;
  align-content: center;
}

.div_log_frm form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
}

.field {
  width: 100%;
}

.input {
  width: 100%;
  padding: 0.3rem;
  border: 0.1rem solid var(--warm-grey);
  border-radius: 0.5rem;
}

.div_buttons {
  width: 100%;
  display: flex;
}

.login_btn {
  flex: 1;
}

.div_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 0.5rem;
}
