.comments_div {
  display: flex;
  flex-direction: column;
  background-color: rgba(7, 15, 19, 0.205);
  border-radius: 0.5rem;
  padding: 0.8em;
  text-align: justify;
  align-content: stretch;
}

.single_comment_div {
  display: flex;
  font-family: var(--text-font);
}

.pag_btn {
  width: 10rem;
  align-self: center;
}
